body { 
    font-family: 'Lato', sans-serif;
    border-left: solid 5px lightgrey;
    padding: 50px;
    margin: 50px;
}
header nav {
    font-size: 20px;
    text-decoration: underline;
    color: lightgrey;
}
header nav a {
    padding: 0px 15px;
}
h1 {
    font-size: 60px;
    text-decoration: none;
    font-weight: lighter;
    color: goldenrod;
}
h2, h3 {
    font-weight: lighter;
    font-size: 30px;
}
h2 {
    color: black;
}
h3 {
    color: lightgrey;
}
h4 {
    text-align: right;
    color: goldenrod;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited { 
    text-decoration: none;
    color: darkgrey;
}
article {
    border-bottom: solid 1px lightgrey;
}
footer nav {
    padding: 10px 0px;
    color: goldenrod;
}
footer p {
    color: lightgrey;
    padding: 15px 0px;
}