body { 
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: rgba(75, 75, 75, 75, 1);
    border-left: solid 5px lightgrey;
    padding: 50px;
    margin: 50px;
}
h1, h2, h3, h4, nav {
    font-weight: lighter;
}
h1 {
    color: gold;
}
h2 {
    color: black;
}
h4 {
    color: goldenrod;
    text-align: right;
}
a {
    text-decoration: none;
}
a:visited { 
    text-decoration: none;
    color: darkgrey;
}
nav {
    color: #eeeeee;
}