body { 
    font-family: 'Lato', sans-serif;
    border-left: solid 5px lightgrey;
    padding: 50px;
    margin: 50px;
    max-width: 100%;
}
header nav {
    font-size: 20px;
    text-decoration: underline;
    color: lightgrey;
}
header nav a {
    padding: 0px 25px;
}
h1 {
    font-size: 60px;
    text-decoration: none;
    font-weight: lighter;
    color: gold;
}
h2, h3 {
    font-weight: lighter;
    font-size: 30px;
}
h2 {
    color: black;
    margin: 10px 10px -30x 100px;
}
h3 {
    color: lightgrey;
}
h4 {
    text-align: right;
    color: gold;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited { 
    text-decoration: none;
}
article {
    border-bottom: solid 1px lightgrey;
}
article p:first-letter {
    color: lightgrey; 
    float: left;
    font-family: "Lato";
    font-size: 75px;
    line-height: 60px;
    initial-letter: 3;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
footer nav {
    padding: 10px 0px;
    color: gold;
}
footer p {
    color: lightgrey;
    padding: 15px 0px;
}
img {
    margin: auto;
    max-width: 100%;
    padding: 10px;
}