body { 
    font-family: 'Lato', sans-serif;
    font-weight: 275;
    color: rgba(75, 75, 75, 75, 1);
}
h1 {
    text-decoration: none;
    color: gold;
    font-weight: lighter;
}
h2 {
    color: black;
    font-weight: lighter;
}
h4 {
    color: goldenrod;
    text-align: right;
}
a {
    text-decoration: none;
}
a:visited { 
    text-decoration: none;
    color: darkgrey;
}
nav {
    font-weight: 250;
    color: #eeeeee;
}
