body { 
    font-family: 'Lato', sans-serif;
    border-left: solid 5px lightgrey;
    padding: 50px;
    margin: auto 50px;
    max-width: 100%;
}
header nav {
    font-size: 20px;
    color: lightgrey;
    text-align: left;
}
header nav a {
    padding: 0px auto;
    margin: auto 10px;
    border-bottom: 2px solid lightgrey;
}
header h2 {
    margin: 15px auto 10px;
}
h1 {
    font-size: 60px;
    text-decoration: none;
    font-weight: lighter;
    color: gold;
    margin: 25px auto 10px;
}
h2, h3 {
    font-weight: lighter;
    font-size: 30px;
}
h2 {
    color: black;
    margin: 10px auto;
}
h3 {
    color: lightgrey;
    margin: 50px auto 0px;
}
h4 {
    text-align: right;
    color: gold;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited { 
    text-decoration: none;
}
article {
    border-bottom: solid 1px lightgrey;
    margin-bottom: 5px;
}
article p:first-letter {
    color: lightgrey; 
    float: left;
    font-family: "Lato";
    font-size: 75px;
    line-height: 60px;
    initial-letter: 4;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
footer nav {
    padding: 25px 0px 5px;
    color: gold;
    border: right solid 1px lightgrey;
}
footer p {
    color: lightgrey;
    padding: 10px 0px;
}
img {
    margin: 0px;
    max-width: 100%;
    padding: 10px;
}
a:hover {
    color: red;
}
p {
    max-width: 100%;
}