body { 
    font-family: 'Lato', sans-serif;
    font-weight: 275;
    color: rgba(75, 75, 75, 75, 1);
    border-left: 100px darkgrey;
}
h1 {
    text-decoration: none;
    color: gold;
}
a { 
    text-decoration: none;
    color: darkgrey; 
}
a:visited { 
    text-decoration: none;
    color: darkgrey;
}
nav {
    font-weight: 250;
    color: #eeeeee;
}
